{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "jsdoc", "import"],
  "extends": [
    "eslint:all",
    "plugin:@typescript-eslint/all",
    "plugin:jsdoc/recommended",
    "plugin:import/recommended"
  ],
  "rules": {
    "no-multi-str": "off",
    "prefer-named-capture-group": "off",
    "require-unicode-regexp": "off",
    "line-comment-position": "off",
    "max-lines": "off",
    "max-params": "off",
    "no-negated-condition": "off",
    "no-underscore-dangle": "off",
    "no-console": [
      "error",
      {
        "allow": ["error", "warn"]
      }
    ],
    "dot-location": ["error", "property"],
    "curly": ["error", "all"],
    "eqeqeq": ["error", "smart"],
    "no-empty-function": [
      "error",
      {
        "allow": ["constructors"]
      }
    ],
    "yoda": [
      "error",
      "never",
      {
        "exceptRange": true
      }
    ],
    "array-bracket-newline": [
      "error",
      {
        "multiline": true
      }
    ],
    "array-bracket-spacing": ["error", "never"],
    "array-element-newline": ["error", "consistent"],
    "@typescript-eslint/brace-style": ["error", "1tbs"],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "computed-property-spacing": ["error", "never"],
    "func-call-spacing": ["error", "never"],
    "function-call-argument-newline": ["error", "consistent"],
    "function-paren-newline": ["error", "consistent"],
    "no-void": "off",
    "no-undefined": "off",
    "new-cap": "off",
    "key-spacing": [
      "error",
      {
        "mode": "strict"
      }
    ],
    "keyword-spacing": [
      "error",
      {
        "after": true,
        "before": true
      }
    ],
    "linebreak-style": ["error", "unix"],
    "lines-around-comment": [
      "error",
      {
        "beforeLineComment": true,
        "allowBlockStart": true,
        "allowBlockEnd": true,
        "allowObjectStart": true,
        "allowObjectEnd": true,
        "allowArrayStart": true,
        "allowArrayEnd": true,
        "allowClassStart": true,
        "allowClassEnd": true
      }
    ],
    "lines-between-class-members": ["error", "always"],
    "max-depth": ["error", 3],
    "max-len": ["error", { "code": 140, "ignorePattern": "^import .*" }],
    "max-lines-per-function": ["error", 120],
    "max-statements-per-line": [
      "error",
      {
        "max": 1
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      { "max": 1, "maxEOF": 0, "maxBOF": 1 }
    ],
    "object-curly-newline": [
      "error",
      {
        "multiline": true,
        "consistent": true
      }
    ],
    "object-property-newline": [
      "error",
      {
        "allowAllPropertiesOnSameLine": true
      }
    ],
    "one-var": ["error", "never"],
    "operator-linebreak": ["error", "after"],
    "quote-props": ["error", "consistent-as-needed"],

    "semi-style": ["error", "last"],
    "space-in-parens": ["error", "never"],
    "spaced-comment": ["error", "always"],
    "template-tag-spacing": ["error", "never"],
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "object-shorthand": [
      "error",
      "always",
      {
        "avoidExplicitReturnArrows": true
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "paths": ["rxjs/Rx"]
      }
    ],
    "newline-per-chained-call": [
      "error",
      {
        "ignoreChainWithDepth": 2
      }
    ],
    "prefer-destructuring": [
      "error",
      {
        "object": true,
        "array": false
      }
    ],
    "rest-spread-spacing": ["error", "never"],
    "template-curly-spacing": ["error", "never"],
    "capitalized-comments": "off",
    "padded-blocks": "off",
    "no-inline-comments": "off",
    "no-eq-null": "off",
    "func-style": [
      "error",
      "declaration",
      {
        "allowArrowFunctions": true
      }
    ],
    "sort-imports": "off",
    "sort-keys": "off",
    "vars-on-top": "off",
    "no-ternary": "off",
    "multiline-ternary": "off",
    "camelcase": "off",
    "id-length": "off",
    "no-warning-comments": "warn",
    "implicit-arrow-linebreak": "off",
    "no-plusplus": "off",
    "max-statements": "off",
    "class-methods-use-this": "warn",
    "@typescript-eslint/quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "@typescript-eslint/parameter-properties": "off",
    "@typescript-eslint/no-extraneous-class": "off",
    "@typescript-eslint/promise-function-async": "off",
    "@typescript-eslint/no-extra-parens": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/no-type-alias": "off",
    "@typescript-eslint/no-magic-numbers": "off",
    "@typescript-eslint/space-before-function-paren": [
      "error",
      { "anonymous": "always", "named": "never", "asyncArrow": "always" }
    ],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/prefer-readonly-parameter-types": "off",
    "@typescript-eslint/object-curly-spacing": ["error", "always"],
    "@typescript-eslint/no-confusing-void-expression": [
      "error",
      { "ignoreArrowShorthand": true, "ignoreVoidOperator": true }
    ],
    "@typescript-eslint/no-empty-interface": [
      "error",
      {
        "allowSingleExtends": false
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false,
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/array-type": "off",
    "@typescript-eslint/member-ordering": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/space-infix-ops": ["error", { "int32Hint": false }],
    "@typescript-eslint/no-duplicate-imports": "off",
    "@typescript-eslint/comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline",
        "enums": "always-multiline",
        "generics": "always-multiline",
        "tuples": "always-multiline"
      }
    ],
    "@typescript-eslint/semi": ["error", "always"],
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "semi",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": true
        }
      }
    ],
    "@typescript-eslint/indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "ignoredNodes": [
          "TSTypeAliasDeclaration *",
          "TSTypeParameterInstantiation > *",
          "TSTypeAnnotation",
          "ArrowFunctionExpression Identifier",
          "ArrowFunctionExpression BlockStatement"
        ]
      }
    ],
    "@typescript-eslint/unbound-method": "off",
    "@typescript-eslint/init-declarations": "off",
    "jsdoc/require-description-complete-sentence": "off",
    "jsdoc/require-jsdoc": "off",
    "jsdoc/require-param": [
      "error",
      {
        "checkDestructured": false,
        "enableFixer": false
      }
    ],
    "jsdoc/newline-after-description": ["error", "never"],
    "jsdoc/check-alignment": "error",
    "jsdoc/no-bad-blocks": "error",
    "jsdoc/require-returns": "off",
    "jsdoc/require-param-type": "off",
    "jsdoc/require-returns-type": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "import/no-unresolved": "off",
    "import/named": "off"
  }
}
